@import '/css/style.scss';

/* About */
.about-item {
  @include flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 58px auto;
}


.cover-item {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  opacity: 0;
  transition: opacity 0.1s linear;
}




.about_social {
  @include flex;
  justify-content: center;

}

.about_social img {
  opacity: 1 !important;




}

.about_social_item {
  padding: 5px;
  margin-right: 1px;
  background-color: var(--slider-text-color);
  width: 42px;
  height: 42px;
  padding: 5px 0;





}


.about_social_item:hover {
  background-color: var(--social-item-hover);
  border: 0;

}

.svg:hover {
  fill: #fff !important;

}



.about_social_itemimg {
  margin: auto;
}

.about_social_item img:hover {
  fill: #fff !important;
}


#facebook:hover {
  fill: #fff;

}

#instagram:hover {
  fill: #fff;
}

#pinterest:hover {
  fill: #fff;
}

#twitter:hover {
  fill: #fff;
}






.wrapper {
  position: relative;
  background-color: var(--green-bg);
  width: 33%;
  max-width: 370px;




  &:hover .cover-item {
    opacity: 1;
  }

  &:hover .wrapper_img img {
    opacity: 0.1;
  }

  &:hover .wrapper_img {
    transform: translate3d(-10px, -10px, 0);
  }


  &_img {
    @include gradient;
    display: block;
    transition: transform 0.1s linear;
  }

  &-hover-img {

    display: block;
    transition: opacity 0.1s linear;
    width: 100%;
  }

}




@media screen and (max-width:320px) {

  .wrapper {
    width: 100%;
    margin-bottom: 16px;

  }
}