/* About */ 
.about {
    display: flex;
    justify-content: space-between;
    margin: 58px auto;
}


.about_img{
    display: block;
    transition: transform .1s linear;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
}


.about_img img {
    display: block;
    transition: opacity .1s linear;
    

}


.about_item {
    position: relative;
    max-width: 370px;
    background-color:  #95E1D3;
}



.about_item:hover .about_cover{
opacity: 1;
}


.about_item:hover .about_img img {
    opacity: .1;
    
    
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}


.about_cover {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    opacity: 0;
    transition: opacity .1s linear;
}

.cover--passive {
    opacity: 1;
}
