/* Footer */
.footer {
    background: #F8F8F8;
}

.copyright {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    padding: 20px 0;





    &::before {
        display: block;
        content: "";
        background: #C6CBCD;
        height: 1px;
        width: 100%;
        margin-bottom: 20px;
    }


    & span {
        text-transform: uppercase;
    }

}