/* Intro */ 
.intro {

    width: 100%;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%),
    url(/assets/images/bg-intro.jpg) center no-repeat;
    background-size: cover;
 
}

.intro_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 180px;
}



.intro_subtitle{
font-family: 'Kaushan Script';
color: #fff;
font-weight: 400;
font-size: 64px;
line-height: 93px;
text-align: center;
}

.intro_title_item{
    width: 100%;
    max-width: 880px;
    margin: auto;
}

.intro_title {
font-family: 'Montserrat';
color:#fff;
font-weight: 700;
font-size: 144px;
line-height: 176px;
text-align:center;
text-transform: uppercase;
}

.intro_title span {
    margin-right: 90px;
}


.intro_title::after {
    display: block;
    content: "";
    width: 100%;
    max-width: 170px;
    height: 3px;
    background: #fff;
    margin: 60px auto;
}

.intro_button {
    display: block;
    width: 100%;
    max-width: 370px;
    border: 4px solid #FFF;
    background: transparent;
    color: #FFF;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto;
    transition: background .1s linear, color .1s linear;
}

.intro_button:hover {
    background-color: #FFF;
    color: #E4BE8D;
}

.intro_button:active{
    background-color: #FFF;
    color: #E4BE8D;
    border: 4px solid #E4BE8D;
}

.slider {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.slider_item {
    position: relative;
    width: 23%;
    text-transform: uppercase;
    line-height: 42px;
    color: #FFF;
    border-top: 4px solid #FFFFFF;
    margin-top: 70px;
    opacity: 0.7;
}

.active--slide {
    opacity: 1;
}

.active--slide::before {
    position: absolute;
    content: "";
    display: block;
    width: 20%;
    height: 4px;
    background-color: #F38281;
    top: -4px;
    left: 0;
    z-index: 1;
}

.slider_item span {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-right: 5px;
}