/* Services */
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;



    &_item {
        width: 33%;
        display: flex;
        margin-bottom: 200px;
        align-items: flex-start;

        img {
            margin-right: 34px;
        }
        
    
    }

}


.section-item .swiper-pagination {
    display: none;
}



@media screen and (max-width:320px) {

    .cards {
        &_item {
            width: 100%;
            margin-bottom: 45px;
    
    
            img {
                max-width: 57px;
            }

    }

    .section-item .swiper-pagination {
        display: block;
    }



    .description .title {
        font-size: 18px;
        line-height: 21px;
    }

    .description .text {
        font-size: 14px;
        line-height: 16px;
    }


   
}
}