/* Services */
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


    
}
.card_item {
width: 33%;
display: flex;
margin-bottom: 200px;
align-items: flex-start;

}

.card_item img {
    margin-right: 34px;
}


