/* Stat */
.stat {
   background-color: var(--green-bg);


   &-item {
      display: flex;
      flex-wrap: wrap;

   }
}

.counter {

   &_number {
      font-weight: 700;
      font-size: 64px;
      line-height: 75px;

   }

   &_text {
      font-weight: 400;
      font-size: 24px;
   }


}



/* Grid */

#counter {
   display: grid;
   align-items: center;

   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   text-align: center;

   gap: 0px;
   height: 250px;
   background-color: var(--green-bg);
   color: var(--white-color);

   div {

      border-left: 1px solid var(--white-color);
      width: 100%;

      &:last-child {
         border-right: 1px solid var(--white-color);

      }
   }

   &-item-0 {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 2;

   }

   &-item-1 {


      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: 2;
      grid-column-end: 3;

   }

   &-item-2 {

      grid-row-start: 1;
      grid-column-start: 3;
      grid-row-end: 2;
      grid-column-end: 4;

   }

   &-item-3 {

      grid-row-start: 1;
      grid-column-start: 4;
      grid-row-end: 2;
      grid-column-end: 5;

   }

   &-item-4 {


      grid-row-start: 1;
      grid-column-start: 5;
      grid-row-end: 2;
      grid-column-end: 6;

   }



}




@media screen and (max-width: 320px) {
   #counter {
      display: grid;

      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      text-align: center;

      gap: 0px;
      height: 100%;
      padding: 30px 0;


      div,
      div:last-child {
         border-right: none;
         border-left: none;
         border-bottom: 1px solid var(--white-color);
      }

      div:last-child {
         border-bottom: none;
      }


      &-item-0 {

         grid-row-start: 1;
         grid-column-start: 1;
         grid-row-end: 2;
         grid-column-end: 2;


      }


      &-item-1 {

         grid-row-start: 1;
         grid-column-start: 2;
         grid-row-end: 2;
         grid-column-end: 2;


      }


      &-item-2 {


         grid-row-start: 2;
         grid-column-start: 1;
         grid-row-end: 2;
         grid-column-end: 1;


      }


      &-item-3 {


         grid-row-start: 2;
         grid-column-start: 2;
         grid-row-end: 2;
         grid-column-end: 2;


      }

      &-item-4 {
         grid-row-start: 3;
         grid-column-start: 1;
         grid-row-end: 3;
         grid-column-end: 3;


      }




   }

   .counter {

      &_number {
         font-size: 48px;
         line-height: 56px;
         padding-bottom: 10px;

      }


      &_text {
         font-size: 14px;
      }

   }

}