/* Stat */ 
.about_stat {
    background-color: #95E1D3;
 }
 
 .statistics {
     display: flex;
     
 }
     
 .counter {
     border-left: 1px solid #fff;
     text-align: center;
     flex: 1 1 0;
     color: #FFF;
     padding: 50px 0;
 
 }
 
 .counter:last-child {
     border-right: 1px solid #fff;
 }
 




 
 .counter_number {
 font-weight: 700;
 font-size: 64px;
 line-height: 75px;
 }
 
 .counter_text {
     font-weight: 400;
     font-size: 24px;
 }