
/* Team */
.partners {
    background: #F8F8F8;
    
}

.partners-item  {
    display: flex;
    justify-content: space-between;
}



.work_pattern {
    display: flex;
    flex-wrap: wrap;
}


.card--team {
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
}

.about--bg{
    background-color: transparent;
}
